In [16]:
nephews = ["ALi","Abed","Moe"]
nephews[0]

'ALi'

In [17]:
nephews

['ALi', 'Abed', 'Moe']

In [18]:
mix_it_up = [1,[2,3],'alpha']
mix_it_up

print(mix_it_up)

[1, [2, 3], 'alpha']

In [19]:
mix_it_up = [1,[2,3],'alpha']##that lists do not need to have homogeneous content, such as all strings of all numbers.


print(mix_it_up)
mix_it_up

[1, [2, 3], 'alpha']

[1, [2, 3], 'alpha']

In [20]:
nephews = ["ALi","Abed","Moe"]
nephews.append('Masa Natsheh')
print(nephews)
nephews.extend(['zenah Natsheh', "Maya Natsheh"])
print (nephews)

['ALi', 'Abed', 'Moe', 'Masa Natsheh']
['ALi', 'Abed', 'Moe', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh']

In [21]:
Natsheh = nephews + ['Nawal Natsheh', 'Eman Natsheh']
print(Natsheh)

['ALi', 'Abed', 'Moe', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Nawal Natsheh', 'Eman Natsheh']

In [22]:
Natsheh.insert(2, 'Noor Natsheh')
print(Natsheh)

['ALi', 'Abed', 'Noor Natsheh', 'Moe', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Nawal Natsheh', 'Eman Natsheh']

In [23]:
del Natsheh[0]
print(Natsheh)
Natsheh.remove('Nawal Natsheh')
print (Natsheh)

['Abed', 'Noor Natsheh', 'Moe', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Nawal Natsheh', 'Eman Natsheh']
['Abed', 'Noor Natsheh', 'Moe', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Eman Natsheh']

In [24]:
del Natsheh[3]
print(Natsheh)

['Abed', 'Noor Natsheh', 'Moe', 'zenah Natsheh', 'Maya Natsheh', 'Eman Natsheh']

In [25]:
Natsheh = nephews + ['Nawal Natsheh', 'Eman Natsheh']
print(Natsheh)
Natsheh.sort()

['ALi', 'Abed', 'Moe', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Nawal Natsheh', 'Eman Natsheh']

In [28]:
squares = [0,1,4,9,16,25,36,49]

print(squares[0:6])
squares[0:4]

[0, 1, 4, 9, 16, 25]

[0, 1, 4, 9]

In [29]:
squares[1:4]

[1, 4, 9]

In [30]:
squares[4:8]

[16, 25, 36, 49]

In [31]:
squares[:4]

[0, 1, 4, 9]

In [32]:
squares[1:]#من العصر س لحد رقم العنصر المكتوب

[1, 4, 9, 16, 25, 36, 49]

In [34]:
print(squares[-2])
squares[-1]

36

49

In [35]:
squares[0:4] = [5, '9']#[4,9]من عند الرقم االي بالخانه الاولى لحد الرقم التاني استبدله ب
print(squares)

[5, '9', 16, 25, 36, 49]

In [41]:
squares = [0,1,4,9,16,25,36,49]
del squares[-2:]#حذف اخر 2
squares

[0, 1, 4, 9, 16, 25]

In [42]:
del squares[-2]#العنصر الي ترتيبه التاني من الاخير
squares

[0, 1, 4, 9, 25]

In [43]:
squares

[0, 1, 4, 9, 25]

In [44]:
for value in squares:
    print("Element: ", value)

Element:  0
Element:  1
Element:  4
Element:  9
Element:  25

In [45]:
for index, value in enumerate(squares):
    print("Element", index, "-> ", value)

Element 0 ->  0
Element 1 ->  1
Element 2 ->  4
Element 3 ->  9
Element 4 ->  25

In [50]:
for value in enumerate(squares):
    print("Element", index, "-> ", value)

Element 4 ->  (0, 0)
Element 4 ->  (1, 1)
Element 4 ->  (2, 4)
Element 4 ->  (3, 9)
Element 4 ->  (4, 25)

In [52]:
nephews = ["ALi","Abed","Moe"]
nephews.append(['Masa Natsheh'])
print(nephews)
nephews.extend(['zenah Natsheh', "Maya Natsheh"])
print (nephews)

['ALi', 'Abed', 'Moe', ['Masa Natsheh']]
['ALi', 'Abed', 'Moe', ['Masa Natsheh'], 'zenah Natsheh', 'Maya Natsheh']

# Dictionaries :

In [53]:
capitals = {'United States': 'Washington, DC','France': 'Paris','Italy': 'Rome'}
capitals['United States']

'Washington, DC'

In [54]:
capitals['Spain'] = 'Madrid'
capitals

{'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United States': 'Washington, DC'}

In [55]:
'Germany' in capitals

False

In [56]:
'Italy' in capitals

True

In [57]:
'paris' in capitals

False

In [59]:
morecapitals = {'Germany': 'Berlin','United Kingdom': 'London'}
capitals.update(morecapitals)

capitals

{'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United Kingdom': 'London',
 'United States': 'Washington, DC'}

In [61]:
del capitals['France']
print (capitals)

{'United States': 'Washington, DC', 'Italy': 'Rome', 'Spain': 'Madrid', 'Germany': 'Berlin', 'United Kingdom': 'London'}

In [64]:
for key in capitals:
    print(key," ",capitals[key])

United States   Washington, DC
Italy   Rome
Spain   Madrid
Germany   Berlin
United Kingdom   London

In [74]:
for key in capitals.keys():
     print(key,capitals[key])

United States Washington, DC
Italy Rome
Spain Madrid
Germany Berlin
United Kingdom London

In [78]:
print(capitals.keys())

dict_keys(['United States', 'Italy', 'Spain', 'Germany', 'United Kingdom'])

In [81]:
print(capitals.values())

dict_values(['Washington, DC', 'Rome', 'Madrid', 'Berlin', 'London'])

In [82]:
for value in capitals.values():
    print(value)

Washington, DC
Rome
Madrid
Berlin
London

In [36]:
for key,value in capitals.items():
    print(key,value)

United States Washington, DC
Italy Rome
Spain Madrid
Germany Berlin
United Kingdom London

In [83]:
capitals.items()

dict_items([('United States', 'Washington, DC'), ('Italy', 'Rome'), ('Spain', 'Madrid'), ('Germany', 'Berlin'), ('United Kingdom', 'London')])

In [84]:
capitals = {'United States': 'Washington, DC','France': 'Paris','Italy': 'Rome'}
capitals['France']

'Paris'

Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.
The keys and the values do not necessarily come out in alphabetical index. That index is not guaranteed for Python dictionaries and therefore, you shouldn't count on it.
They're perhaps most appropriate to collect data items of different kinds. The classic example would be a dictionary that describes employee data, which may have an employee's name, address, and age.

# Comprehensions

In [85]:
squares = []

for i in range(10):
    squares.append(i**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
squares = [i**3 for i in range(10)]
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [88]:
capitals = {'United States': 'Washington, DC','France': 'Paris','Italy': 'Rome',}
capitals['United States']

'Washington, DC'

In [90]:
squares3_dict = {i: i**2 for i in range(31) if i % 3 == 0}
squares3_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729,
 30: 900}

In [91]:
capitals = {'United States': 'Washington, DC','France': 'Paris','Italy': 'Rome'}

In [92]:
capitals_bycapital = {capitals[key]: key for key in capitals}

In [109]:
capitals_bycapital

{'Paris': 'France', 'Rome': 'Italy', 'Washington, DC': 'United States'}


List comprehension is an elegant way to define and create list in Python. These lists have often the qualities of sets, but are not in all cases sets.
List comprehension is a complete substitute for the lambda function as well as the functions map(), filter() and reduce(). For most people the syntax of list comprehension is easier to be grasped.